<app-header titulo="Alerta"></app-header>
<!-- 
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="regresar"></ion-back-button>
    </ion-buttons>

    <ion-title>Alerta</ion-title>
  </ion-toolbar>
</ion-header> 
-->

<ion-content>
<ion-button (click)="onClick()" expand="block">Alerta</ion-button>
<ion-button (click)="presentAlertMultipleButtons()" expand="block">Multiples Botones</ion-button>
<ion-button (click)="presentAlertPrompt()" expand="block">Cuestionario</ion-button>
</ion-content>
