<app-header titulo="Card"></app-header>

<ion-content>

<ion-card>
  <ion-card-header>
    <ion-card-title>Awesome Title</ion-card-title>
    <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    Awesome content
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-item class="ion-activated" color="warning">
    <ion-icon name="beer" slot="start"></ion-icon>
    <ion-title>Cerveza</ion-title>
  </ion-item>

    <ion-card-content>
      La cerveza es una bebida que se genera a partir de la fermentación de la cebada.
    </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Musashi Miyamoto</ion-card-title>
    <ion-img src="\assets\m.jpg"></ion-img>
  </ion-card-header>
  <ion-card-content>
    Samurai de gran poder
  </ion-card-content>
</ion-card>
</ion-content>
